*.swp
*.ttl
ontologies_selected
bioportal-api/authorized_keys
*.log
data/mgrep/dictionary.txt
data/redis/
data/4store
data/bioportal/
data/solr/core1/data 
data/solr/core2/data 
data/solr/core2/data 
data/solr/term_search_core1/data 
data/solr/term_search_core2/data 
data/solr/prop_search_core1/data 
data/solr/prop_search_core2/data 
